	{{ $baseurl := .Site.BaseURL }}
	{{ template "chrome/header.html" . }}
	    <!-- CONTENT -->
	  <div class="post">
	    <header class="post-header">
	        <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
	        <div class="post-time">Stand {{ .Date.Format "2. January 2006" }}</div>
	    </header>
	    <div class="post-after">
	        <div class="tags">
	            {{ range .Params.tags }}
	                <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>              
	            {{ end }}
	        </div>
	    </div>
	    <hr>
	    <div class="post content">
	        {{ .Content }}
	    </div>
	    <!-- END CONTENT -->
	{{ template "chrome/about.html" . }}
	{{ template "chrome/footer.html" . }}
