<!DOCTYPE html>
<html lang="de">
  <head>
    {{ template "theme/chrome/meta.html" . }}
    {{ template "theme/chrome/includes.html" . }}
    <link rel="shortcut icon" href="/images/alexfinn.ico">
    <link rel="apple-touch-icon" href="">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- atom & rss feed -->
  </head>

  <body>
    {{ template "theme/chrome/menu.html" }}

{{ $baseurl := .Site.BaseURL }}

<div class="container">
  <div class="content">

  <div class="row-fluid">
    <div class="span12">

      <h2>Pages</h2>
      <div class="pages">
        <ul>
          {{ range .Data.Pages }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>

    </div>
  </div>
